    <%- include ('partials/header.ejs') %>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Ask Your Question</h2>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <fieldset>
                        <div class="my-2">
                            <label class="form-label" for="questionTitle">Title</label>
                            <input type="text" name="title" id="questionTitle" class="form-control">
                        </div>
                        <div class="my-2">
                            <label class="form-label" for="questionDescription">Description</label>
                            <textarea type="text" name="title" id="questionDescription" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-success" type="submit">
                            Send
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.ejs') %>